* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1366px;
    height: 2934px;
    background-color: var(--background-color);
}

:root {
    --background-color: #16181D;
    --color-red: #E3646E;
    --color-purple: #BB72E9;
    --color-blue: #3996DB;
    --color-green: #82BC4F;
    --color-yellow: #EABD5F;

    --color-base-gray100: #0D0E11;
    --color-base-gray200: #16181D;
    --color-base-gray300: #292C34;
    --color-base-gray400: #878EA1;
    --color-base-gray500: #a5a9b3;
    --color-base-gray600: #E2E4E9;

    --font-family-title: "Asap", sans-serif;
    --title-lg: bold 56px/120% var(--font-family-title);
    --title-md: bold 24px/120% var(--font-family-title);
    --title-sm: bold 16px/120% var(--font-family-title);

    --font-family-subtitle: "Inconsolata", monospace;
    --subtitle: 20px/120% var(--font-family-subtitle);

    --font-family-text: "Maven Pro", sans-serif;
    --text-md: 16px/140% var(--font-family-text);
    --text-sm: 14px/140% var(--font-family-text);
}

h1 {
    font: var(--title-lg);
    color: var(--color-base-gray600);
    margin-bottom: 20px;
}

h2 {
    font: var(--title-md);
    color: var(--color-base-gray600);
}

h3 {
    font: var(--title-sm);
    color: var(--color-base-gray600);
}

.text-sm {
    font: var(--text-sm);
    color: var(--color-base-gray400);
}

.text-md {
    font: var(--text-md);
    color: var(--color-base-gray500);
}

.subtitle {
    font: var(--subtitle);
    color: var(--color-base-gray500);
    margin-bottom: 8px;
}

.text-red {
    font: var(--subtitle);
    color: var(--color-red);
}

.text-purple {
    font: var(--subtitle);
    color: var(--color-purple);
}