#services {
    background-color: var(--color-base-gray100);
    height: 480px;
    padding: 88px 120px 120px 120px;
}


header {
    margin-bottom: 56px;
    p {
        margin-bottom: 8px;
    } 
}

#services-grid {
    width: 888px; 
    height: 155px;
    margin: auto;

    img {
        width: 48px;
        aspect-ratio: 1/1;
        margin-bottom: 20px;
        
    }

    div {
        padding: 20px;
        border: solid 1px var(--color-base-gray300);
        border-radius: 8px;
    }

    h3 {
        margin-bottom: 8px;
    }

}
